@font-face {
	font-family: 'dcmuce';
	src:url('fonts/dcmuce.eot?v5uiqs');
	src:url('fonts/dcmuce.eot?v5uiqs#iefix') format('embedded-opentype'),
		url('fonts/dcmuce.ttf?v5uiqs') format('truetype'),
		url('fonts/dcmuce.woff?v5uiqs') format('woff'),
		url('fonts/dcmuce.svg?v5uiqs#dcmuce') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	font-family: 'dcmuce';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-uce_uce_en_cifras:before {
	content: "\e800";
}
.fa-uce_proyectos_eje:before {
	content: "\e801";
}
.fa-uce_proyectos_en:before {
	content: "\e802";
}
.fa-uce_sau:before {
	content: "\e627";
}
.fa-uce_resena:before {
	content: "\e626";
}
.fa-uce_registro:before {
	content: "\e624";
}
.fa-uce_facturacion:before {
	content: "\e625";
}
.fa-uce_sello:before {
	content: "\e622";
}
.fa-uce_aplicaciones:before {
	content: "\e623";
}
.fa-uce_bajar_archivo:before {
	content: "\e602";
}
.fa-uce_biblioteca:before {
	content: "\e603";
}
.fa-uce_calendario:before {
	content: "\e604";
}
.fa-uce_cerrar:before {
	content: "\e605";
}
.fa-uce_club_andinismo:before {
	content: "\e606";
}
.fa-uce_club_arte:before {
	content: "\e607";
}
.fa-uce_club_futbol:before {
	content: "\e608";
}
.fa-uce_club_rugby:before {
	content: "\e609";
}
.fa-uce_club_taekwondo:before {
	content: "\e60a";
}
.fa-uce_contraer:before {
	content: "\e60b";
}
.fa-uce_contrasea:before {
	content: "\e615";
}
.fa-uce_editar_archivo:before {
	content: "\e60c";
}
.fa-uce_eliminar:before {
	content: "\e60d";
}
.fa-uce_expandir:before {
	content: "\e60e";
}
.fa-uce_facebook:before {
	content: "\e60f";
}
.fa-uce_guardar:before {
	content: "\e610";
}
.fa-uce_ir:before {
	content: "\e611";
}
.fa-uce_ley_transparencia:before {
	content: "\e612";
}
.fa-uce_mail:before {
	content: "\e613";
}
.fa-uce_menu:before {
	content: "\e614";
}
.fa-uce_pdf:before {
	content: "\e616";
}
.fa-uce_radio:before {
	content: "\e617";
}
.fa-uce_repositorio:before {
	content: "\e621";
}
.fa-uce_scrool:before {
	content: "\e618";
}
.fa-uce_siguiente:before {
	content: "\e619";
}
.fa-uce_subir_archivo:before {
	content: "\e61a";
}
.fa-uce_twiter:before {
	content: "\e61b";
}
.fa-uce_usuario:before {
	content: "\e61c";
}
.fa-uce_ver:before {
	content: "\e61d";
}
.fa-uce_web:before {
	content: "\e61e";
}
.fa-uce_yotube:before {
	content: "\e61f";
}
.fa-uce_anterior:before {
	content: "\e620";
}

